.header_main {
  background-color: rgb(192, 108, 192);
  color: white;
}
.container_main {
  padding: 0 10em
}

.footer_main {
  background-color: rgb(202, 174, 193);
  padding: 1em 0;
}

.hide_item {
  display: visible;
}

@media screen and (max-width: 650px) {
  .container_main {
    padding: 0 1.5rem
  }
  .hide_item {
    display: none;
  }
}