html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.header_main {
  background-color: rgb(192, 108, 192);
  color: white;
}
.myContainer {
  padding: 4rem;
  width: 100%;
  margin: auto;
}
.reverse_row {
  display: flex;
  flex-direction: row-reverse;
}
.myButton {
  padding: 0 10px;
  font-weight: bold;
  margin: auto 5px;
}
.myInput {
  width: 40%; 
  margin: auto 10px;
}
.footer_main {
  background-color: rgb(202, 174, 193);
  /* padding: 1em 0; */
}
.hidden-sm {
  display: visible;
}

.hidden-lg {
  display: visible;
}

@media screen and (max-width: 567px) {
  .container_main {
    padding: 0 1.5rem
  }
  .hidden-sm {
    display: none;
  } 
  .myContainer {
    padding: 3rem 10px;
    width: 100%;
  }
}